body {
    background-image: url('https://images.unsplash.com/photo-1495195129352-aeb325a55b65?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1476&q=80');
    background-color: whitesmoke;
}

.borderStyle {
    border-color: gray;
    border-radius: 8px;
    border-width: 6px;
}

.cardStyle {
    background-color: dimgray;
}

.cardHeader {
    color: whitesmoke;
    font-family: cursive;
}

.inputField {
    color: whitesmoke;
    text-align: center;
    padding: 40px 40px;
    background-color: gray;
    font-size: 35px;
}

.inputLayout {
    display: flex;
    align-items: center;
    justify-content: center;
}